{% load static %}
<div class="page-sidebar">
   <div class="logo" style="padding:0 0;">
      <a class="logo-img" href="{% url 'app:index' %}">
         <img class="desktop-logo" src="{%static 'assets/images/neau.png'%}" alt="">
      </a>
      <i class="ion-ios-close-empty" id="sidebar-toggle-button-close"></i>
      <h5>东北农业大学体育器材管理系统</h5>
   </div>
   <!--================================-->
   <!-- Sidebar Menu Start -->
   <!--================================-->
   <div class="page-sidebar-inner">
      <div class="page-sidebar-menu">
         <ul class="accordion-menu">
            <li class="open active" id="l1">
               <a href=""><i data-feather="home"></i>
                  <span>体育器材租借</span><i class="accordion-icon fa fa-angle-left"></i>
               </a>
               <ul class="sub-menu" style="display: block;">
                  <!-- Active Page here to design-->
                  <li class="active" id="l11"><a href="{%url 'app:index'%}">器材租借</a></li>
                  <li id="l12"><a href="{%url 'app:myrent'%}">我的租赁</a></li>
                  <li id="l13"><a href="{%url 'app:repair'%}">器材报修</a></li>
                  <li id="l14"><a href="{%url 'app:setting'%}">个人设置</a></li>
               </ul>
            </li>
            <li id="l2">
               <a href="">
                  <i data-feather="mail"></i>
                  <span>系统信息</span>
                  {% if unread_messages|length > 0 %}
                     <span class="badge badge-warning ft-right">{{unread_messages|length}}</span>
                  {% else %}
                     <i class="accordion-icon fa fa-angle-left"></i>
                  {% endif %}
               </a>
               <ul class="sub-menu" style="display: block;">
                  <li id="l21"><a href="{%url 'app:message'%}">信息中心</a></li>
               </ul>
            </li>

            {% if user.manage %}
               <li id="l3">
                  <a href="">
                     <i data-feather="database"></i>
                     <span>管理员管理</span><i class="accordion-icon fa fa-angle-left"></i>
                  </a>
                  <ul class="sub-menu" style="display: block;">
                     <!-- Active Page here to design-->
                     <li id="l31"><a href="{%url 'app:manage_borrow'%}">处理租赁订单</a></li>
                     <li id="l32"><a href="{%url 'app:manage_repair'%}">处理器材报修</a></li>
                     <li id="l33"><a href="{%url 'app:index'%}">发放奖励</a></li>
                     <li id="l34"><a href="{%url 'app:myrent'%}">添加器材</a></li>
                  </ul>
               </li>
            {% endif %}
            <!-- del left -->

            <!-- del left -->
         </ul>
      </div>
   </div>
   <!--/ Sidebar Menu End -->
   <!--================================-->
   <!-- Sidebar Footer Start -->
   <!--================================-->
   <!--/ Sidebar Footer End -->
</div>