{% load static %}

<!DOCTYPE html>
<html lang="zxx">
   <head>
      <!-- The above 6 meta tags *must* come first in the head; any other head content must come *after* these tags -->
      <meta charset="utf-8">
	   <meta http-equiv="x-ua-compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
	   <meta name="description" content="">
	   <meta name="keyword" content="">
	   <meta name="author"  content=""/>
      <!-- Page Title -->
      <title>登录</title>
     {%include 'head.html'%}
   </head>
   <body background="{% static 'assets/images/background.jpg' %}" style=" background-repeat:no-repeat ;
background-size:100% 100%;
background-attachment: fixed;">
      <!--================================-->
      <!-- User Singin Start -->
      <!--================================-->			
      <div class="ht-100v d-flex">
         <div class="card shadow-none pd-20 mx-auto wd-300 text-center bd-1 align-self-center">
            <h4 class="card-title mt-3 text-center">login in</h4>
            <p class="text-center">登入账户</p>
            <form action = "{% url 'app:do_login' %}" method = "post">
               <div class="form-group input-group">
                  <div class="input-group-prepend">
                     <span class="input-group-text pd-x-9"> <i class="fa fa-envelope"></i> </span>
                  </div>
                  <input class="form-control form-control-sm" placeholder="请输入邮箱号" id="form-email" type="text" name = "email" required>
               </div>
               <div class="form-group input-group">
                  <div class="input-group-prepend">
                     <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                  </div>
                  <input class="form-control form-control-sm" placeholder="请输入密码" id="form-password" type="password" name = "password" required>
               </div>
               <div class="form-group">
                  <input type="submit"  class="btn btn-custom-primary btn-block tx-13 hover-white" id="submit_button" name = "登录" value = "登录">
               </div>
               <p class="text-center">没有账户?<br/> <a href="{% url 'app:register' %}">注册账户</a> </p>
            </form>
         </div>
      </div>
      <!--/ User Singin End -->
      <!--================================-->
      <!-- Footer Script -->
      <!--================================-->	
      <script src="{%static 'assets/plugins/jquery/jquery.min.js'%}"></script>
      <script src="{%static 'assets/plugins/jquery-ui/jquery-ui.js'%}"></script>
      <script src="{%static 'assets/plugins/popper/popper.js'%}"></script>
      <script src="{%static 'assets/plugins/bootstrap/js/bootstrap.min.js'%}"></script>
      <script src="{%static 'assets/plugins/pace/pace.min.js'%}"></script>
      <script src="{%static 'assets/js/jquery.slimscroll.min.js'%}"></script>
      <script src="{%static 'assets/js/custom.js'%}"></script>

      <script>
      function IsEmail(str) {
            var reg = /^([a-zA-Z]|[0-9])(\w|\-)+@[a-zA-Z0-9]+\.([a-zA-Z]{2,4})$/;
            return  reg.test(str);
      }
      $("#submit_button").click(function (e) {
            var form_email = $('#form-email');
            var form_password = $('#form-password');

            let email = form_email.val();
            let password = form_password.val();
            if (IsEmail(email)){
               var option = {
                   url: "{% url 'app:do_login' %}",
                   data: {
                    "email": email,
                    "password": password,
                   },
                   type: 'POST',
                   dataType: 'json',
                   success: function (data) {
                       if (data.status == 100) {
                           //登录成功，重定向到首页
                           location.href = "{% url 'app:index' %}"
                       } else {
                           location.href = "{% url 'app:login' %}"
                           alert(data.msg);
                           return true;
                       }
                   },
                   error: function (data) {
                       console.log(data)     //用户名密码不正确的时候打印到，前端的控制台
                   }
               };
               console.log(option);
               $.ajax(option);
               return true;
            }
            alert("请检查您的邮箱格式!");
            return true;
      });
      </script>
   </body>
</html>