{% load static %}

<!DOCTYPE html>
<html lang="zxx">
   <head>
      <!-- The above 6 meta tags *must* come first in the head; any other head content must come *after* these tags -->
      <meta charset="utf-8">
	  <meta http-equiv="x-ua-compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
	  <meta name="description" content="">
	  <meta name="keyword" content="">
	  <meta name="author"  content=""/>
      <!-- Page Title -->
      <title>注册</title>
      <!-- Main CSS -->			
      <link type="text/css" rel="stylesheet" href="{% static 'assets/plugins/bootstrap/css/bootstrap.min.css'%}"/>
      <link type="text/css" rel="stylesheet" href="{% static 'assets/plugins/font-awesome/css/font-awesome.min.css'%}"/>
      <link type="text/css" rel="stylesheet" href="{% static 'assets/plugins/simple-line-icons/css/simple-line-icons.css'%}">
      <link type="text/css" rel="stylesheet" href="{% static 'assets/plugins/ionicons/css/ionicons.css'%}">
      <link type="text/css" rel="stylesheet" href="{% static 'assets/css/app.min.css'%}"/>
      <link type="text/css" rel="stylesheet" href="{% static 'assets/css/style.min.css'%}"/>
      <!-- Favicon -->
      <link rel="icon" href="{% static 'img/neau_cut.png'%}" type="image/x-icon">
      <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
      <!-- WARNING: Respond.js doesn"t work if you view the page via file:// -->
      <!--[if lt IE 9]>
      <script src="http://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="http://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
      <![endif]-->
   </head>
   <body background="{% static 'assets/images/background.jpg' %}" style=" background-repeat:no-repeat ;
background-size:100% 100%;
background-attachment: fixed;">
      <!--================================-->
      <!-- User Singup Start -->
      <!--================================-->		
      <div class="ht-100v d-flex">
         <div class="card shadow-none pd-20 mx-auto wd-280 text-center bd-1 align-self-center">
            <h4 class="card-title mt-3 text-center">Create Account</h4>
            <p class="text-center">免费注册账号</p>
            {% if message %}
                  <div style="color: firebrick">{{ message }}</div>
            {% endif %}
            <form action = "{% url 'app:do_register'%}" method = "post" id="registerForm">
               <div class="form-group input-group">
                  <div class="input-group-prepend">
                     <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                  </div>
                  <input class="form-control form-control-sm" placeholder="请输入你的名字" type="text" name = "user_name" maxlength="20" required>
               </div>
               <div class="form-group input-group">
                  <div class="input-group-prepend">
                     <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
                  </div>
                  <input class="form-control form-control-sm" placeholder="请输入你的邮箱号" type="text" name = "email" maxlength="20" required>
               </div>
               <div class="form-group input-group">
                  <div class="input-group-prepend">
                     <span class="input-group-text"> <i class="fa fa-building"></i> </span>
                  </div>
                  <input class="form-control form-control-sm" placeholder="请输入你的学号" type="text" name = "uid" maxlength="20" required>
               </div>
               <div class="form-group input-group">
                  <div class="input-group-prepend">
                     <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                  </div>
                  <input class="form-control form-control-sm" placeholder="请输入你的密码" type="password" name = "password" maxlength="12" required>
               </div>
               <div class="form-group input-group">
                  <div class="input-group-prepend">
                     <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                  </div>
                  <input class="form-control form-control-sm" placeholder="请重复输入你的密码" type="password" name = "re_password" maxlength="12" required>
               </div>
               <div class="form-group">
                  <input type="button" class="btn btn-custom-primary btn-block tx-13" id="submit_button" value ="注册账户" name = "user_reg" >
               </div>
               <p class="text-center">已有账户？ <a href="{% url 'app:login' %}">登录</a> </p>
            </form>
         </div>
      </div>
      <!--/ User Singup End -->
      <!--================================-->
      <!-- Footer Script -->
      <!--================================-->
      <script src="{%static 'assets/plugins/jquery/jquery.min.js'%}"></script>
      <script src="{%static 'assets/plugins/jquery/base.js'%}"></script>
      <script src="{%static 'assets/plugins/jquery-ui/jquery-ui.js'%}"></script>
      <script src="{%static 'assets/plugins/popper/popper.js'%}"></script>
      <script src="{%static 'assets/plugins/bootstrap/js/bootstrap.min.js'%}"></script>
      <script src="{%static 'assets/plugins/pace/pace.min.js'%}"></script>
      <script src="{%static 'assets/js/jquery.slimscroll.min.js'%}"></script>
      <script src="{%static 'assets/js/custom.js'%}"></script>
      <script>
      function IsEmail(str) {
            var reg = /^([a-zA-Z]|[0-9])(\w|\-)+@[a-zA-Z0-9]+\.([a-zA-Z]{2,4})$/;
            return  reg.test(str);
      }
      function testpassword(str1,str2) {
            var reg = /^(?=.*[a-zA-Z])(?=.*\d).{1,9}$/;
            if (reg.test(str1) )
            {
               alert(1);

            }
            if (str1==str2)
            {
               alert(2);

            }
            return  reg.test(str1) && str1==str2;
      }
      $('#submit_button').click(function (e) {
            var form = document.getElementById("registerForm");
            let formData = new FormData(form);
            if (IsEmail(formData.get("email"))){
               if(testpassword(formData.get("password"),formData.get("re_password"))){
                  form.submit();
                  return true;
               }
               alert("请检查两次输入密码是否一致!，密码至少包含字母、数字，1-9位");
               return false;
            }
            alert("请检查您的邮箱格式!");
            return false;
      });
      </script>
   </body>
</html>