{% load static %}
<!DOCTYPE html>
<html lang="zxx">

<head>
   <!-- The above 6 meta tags *must* come first in the head; any other head content must come *after* these tags -->
   <meta charset="utf-8">
   <meta http-equiv="x-ua-compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <meta name="description" content="">
   <meta name="keyword" content="">
   <meta name="author" content="" />
   <!-- Page Title here to disign -->
   <title>首页</title>
   {%include 'head.html'%}
</head>


<body>
   <!--================================-->
   <!-- Page Container Start -->
   <!--================================-->
   <div class="page-container">
      <!--================================-->
      <!-- Page Sidebar Start -->
      <!--================================-->
      {%include 'boardside.html'%}
      <!--/ Page Sidebar End -->
      <!--================================-->
      <!-- Page Content Start -->
      <!--================================-->
      <div class="page-content">
         {%include 'top.html'%}
         <div class="col-md-12 col-lg-12">
            <div class="card-body text-center align-self-center mx-auto">

               <div class="row">
                  <div class="col-12">
                     <h2>个人设置</h2>
                  </div>
               </div>

               <div class="row">
                  <div class="col-12">
                     <img src="{{ MEDIA_URL }}{{user.img_url}}" class=" img-fluid wd-150 ht-150 rounded-circle" id="headimg" alt="">
                  </div>
               </div>

               <div class="row clearfix">
                  <div class="col-4">
                     <div class="float-right">
                        <h5>我的学号:</h5>
                     </div>
                  </div>
                  <div class="col-4">
                     <input class="form-control-plaintext form-control-sm" type="text" placeholder="{{user.uid}}" readonly="readonly">
                  </div>
                  <div class="col-4">
                     <div class="float-left">
                        <i class="fa fa-pencil"></i>
                     </div>
                  </div>
               </div>

               <div class="row clearfix">
                  <div class="col-4">
                     <div class="float-right">
                        <h5>我的姓名:</h5>
                     </div>
                  </div>
                  <div class="col-4">
                     <input class="form-control-plaintext form-control-sm" type="text" placeholder="{{user.name}}" readonly="readonly">
                  </div>
                  <div class="col-4">
                     <div class="float-left">
                        <i class="fa fa-pencil"></i>
                     </div>
                  </div>
               </div>

               <div class="row clearfix">
                  <div class="col-4">
                     <div class="float-right">
                        <h5>我的密码:</h5>
                     </div>
                  </div>
                  <div class="col-4">
                     <input class="form-control-plaintext form-control-sm" type="text" placeholder="********" readonly="readonly">
                  </div>
                  <div class="col-4">
                     <div class="float-left">
                        <i class="fa fa-pencil"></i>
                     </div>
                  </div>
               </div>

               <div class="row clearfix">
                  <div class="col-4">
                     <div class="float-right">
                        <h5>我的邮箱:</h5>
                     </div>
                  </div>
                  <div class="col-4">
                     <input class="form-control-plaintext form-control-sm" type="text" placeholder="{{user.email}}" readonly="readonly">
                  </div>
                  <div class="col-4">
                     <div class="float-left">
                        <i class="fa fa-pencil"></i>
                     </div>
                  </div>
               </div>

            </div>
         </div>

         {%include 'footer.html'%}
         <!--/ Page Footer End -->
      </div>
      <!--/ Page Content End -->
   </div>
   <!--/ Page Container End -->
   <!--================================-->

   <!--================================-->
   <!-- Footer Script -->
   <!--================================-->
   {%include 'commonjs.html'%}
   <script>
      var l1 = document.getElementById('l11');
      var l2 = document.getElementById('l14');
      l1.classList.remove("active");
      l2.classList.add("active");
      $('#headimg').click(function () {
            window.open('index')
        })
   </script>
</body>

</html>